.idea/
# Created by .ignore support plugin (hsz.mobi)
### CMake template
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
### C template
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

/src/listdir.c
/src/main.ev2.c
/src/deps/file/package.json
/src/small-test.c
/src/array-heap.c
/src/ssl-server.c
/src/main.ev.c
/src/main1.c
/src/array-heap.h
/src/main.ev_exec.c
/src/deps/b64/package.json
/src/ssl-example.c
/src/deps/asprintf/package.json
/src/main.list.c
/src/bench.c
cmake-build-debug/
src/2
src/array-heap.c
src/array-heap.h
src/bench.c
src/deps/asprintf/package.json
src/deps/b64/package.json
src/deps/file/package.json
src/deps/hash/
src/listdir.c
src/main.ev.c
src/main.ev2.c
src/main.ev_exec.c
src/main.list.c
src/main1.c
src/small-test.c
src/ssl-example.c
src/ssl-server.c
